.site-footer {
  color: #fff;
  font-weight: 300;
  padding: 100px 0 !important;
  background: #0c74d7;

  .footer-branding {
    width: 154px;

    body.home & {
      @media (max-width: 767px) {
        display: none;
      }
    }

  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 30px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      
      display: block;

      @media (min-width: 768px) {
        width: 50%;
        float: left;
      }

      a {
        color: #fff;

        @media (max-width: 767px) {
          display: block;
          padding: 5px 0;
        }
      }
    }
  }

  .col-md-4 {
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  body.home &.section {
    @media (min-width: 768px){
      height: 345px !important;
    }
  }
  
  .fp-tableCell {
    display: block;
    height: auto !important;
  }
}