.amano-pagination {
  text-align: center;
  display: block;
  border-radius: 0;
  background: #fff;
  margin: 30px 0 0;

  > * {
    line-height: 1;
    display: inline-block;
    font-weight: 500;
    color: #000;
    padding: 10px 5px;

    &.current {
      font-weight: bold;
      color: $primary-color;
    }
    
    &.next,
    &.prev {
      padding-left: 15px;
      padding-right: 15px;

      &::after {
        border-top: solid 4px transparent;
        border-bottom: solid 4px transparent;
        display: inline-block;
        vertical-align: middle;
        content: '';
        transform: translateY(-1px);
      }

    }

    &.prev {
      &::after {
        border-right: solid 5px #1f1f1f;
      }
    }

    &.next {
      &::after {
        border-left: solid 5px #1f1f1f;
      }
    }

    &:hover {
      color: $primary-color;
    }
  }

}
