.amano-pagination {
  text-align: right;
  display: block;
  float: right;
  border-radius: 0;
  background: #fff;
  margin: 30px 0 0;

  > * {
    line-height: 1;
    display: block;
    float: left;
    color: #6c6c6c;
    padding: 10px;

    &.current {
      font-weight: bold;
      color: #91b1b0;
    }

    i {
      font-size: 12px;
    }

    &.prev {
      border-right: solid 1px #f3f3f3;
    }

    &.next {
      border-left: solid 1px #f3f3f3;
    }

    &:hover {
      color: #fff;
      background: #91b1b0;
    }
  }

}
