.sidebar {

  &.is-sticky {
    @media (min-width: 992px){
      position: fixed;
      top: 70px;
      width: 255px;
    }
  }

  .scrollup &.header-sticky.is-sticky {
    top: 120px;
  }
  
  .widget {
    position: relative;

    &__title {
      font-size: 18px;
      text-transform: uppercase;
      color: $primary-color;
      margin: 0 0 50px;

      @media (max-width: 991px){
        text-align: center;
        margin-bottom: 15px;
      }
    }

    &__content {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        @media (max-width: 991px){
          text-align: center;
        }

        li {

          @media (max-width: 991px){
            display: inline-block;
            padding: 0 10px;
          }

          a {
            font-size: 16px;
            color: #000;
            font-weight: 500;
            line-height: 1;
            padding: 0 0 15px;
            display: block;
          }

          .post-type-archive-product &.cat-item-all,
          &.current-cat {
            a {
              font-weight: 700;
              color: $primary-color;
            }
          }
        }
      }
    }

    .category-select {
      display: block;
      margin: 0 auto;
      padding: 10px 5px;
      border: solid 1px #ddd;
    }
  }
}