.sidebar {

  &.is-sticky {
    @media (min-width: 992px){
      position: fixed;
      top: 70px;
      width: 255px;
    }
  }

  .scrollup &.header-sticky.is-sticky {
    top: 120px;
  }
  
  .widget {
    position: relative;
    margin-bottom: 50px;

    &__title {
      font-size: 18px;
      text-transform: uppercase;
      color: $primary-color;
      margin: 0 0 15px;

      &.is-product-category {
        margin-bottom: 30px;
      }

      @media (max-width: 991px){
        text-align: center;
        margin-bottom: 15px;
      }
    }

    &__content {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        @media (max-width: 991px){
          text-align: center;
        }

        li {

          @media (max-width: 991px){
            display: inline-block;
            padding: 0 10px;
          }

          a {
            font-size: 16px;
            color: #000;
            font-weight: 500;
            line-height: 1;
            padding: 0 0 15px;
            display: block;
          }

          .post-type-archive-product &.cat-item-all,
          &.current-cat-parent,
          &.current-cat {
            > a {
              font-weight: 700;
              color: $primary-color;
            }
          }

          &.current-cat-parent,
          &.current-cat {
            ul {
              display: block;
            }
          }
        }

        ul {
          padding: 0 0 0 10px;
          display: none;

          li {
            a {
              font-size: 12px;
            }
          }
        }
      }
    }

    form {
      position: relative;
      max-width: 250px;
      margin: 0 auto;
    }

    input {
      width: 100%;
      height: 40px;
      padding: 5px 10px;
      border: solid 1px #e8e8e8;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background: transparent;
      border: none;
      outline: none !important;

      svg {
        width: 20px;
        transition: fill 0.3s;
      }

      &:hover {
        svg {
          fill: $primary-color;
        }
      }
    }

    .category-select {
      width: 100%;
      height: 40px;
      display: block;
      margin: 0 auto;
      padding: 5px 10px;
      border: solid 1px #e8e8e8;
      background: #fff;
    }
  }
}