.contact {

  h3 {
    font-weight: 700;
    font-size: 20px;
    color: $primary-color;
    margin-bottom: 30px;
  }

  &-map {
    img {
      max-width: none;
      width: 100%;
    }

    .google-map {
      height: 430px;
      width: calc(50vw + 12%);
    }
  }

  &-address {
    color: #000;

    a {
      color: #000;
    }

    p {
      margin-bottom: 30px;
    }

    ul {
      padding: 0;
      margin: 0 0 30px;
      list-style: none;
    }
  }
}