.contact {

  h3 {
    font-weight: 700;
    font-size: 20px;
    color: $primary-color;
    margin-bottom: 30px;
  }

  &-map {
    img {
      max-width: none;
      width: 100%;
    }

    .google-map {
      height: 430px;
      width: calc(50vw + 12%);
    }
  }

  &-address {
    color: #000;

    a {
      color: #000;
    }

    p {
      margin-bottom: 30px;
    }

    ul {
      padding: 0;
      margin: 0 0 30px;
      list-style: none;
    }
  }

  &-form {

    margin-bottom: 50px;

    .form-group {
      margin-bottom: 30px;

      em {
        font-size: 12px;
        color: $primary-color;
      }

      &.has-error .form-control {
        border-color: #0c74d7;
      }
    }

    .form-control {
      width: 100%;
      padding: 8px 0;
      border: none;
      outline: none;
      border-bottom: solid 1px #c4c4c4;

      &:focus {
        border-bottom-color: #0c74d7;
      }
    }
    
    button {
      font-size: 12px;
    }

    &__response {
      div {
        position: relative;
        margin-bottom: 30px;
        padding: 10px 10px 10px 65px;
        background: #f8f8f8;

        .checkmark {
          position: absolute;
          top: 10px;
          left: 15px;
        }

        h4 {
          font-size: 18px;
          line-height: 1;
          color: $primary-color;
          margin: 0;
        }

        p {
          margin: 0;
        }

      }
    }

  }

}