.site-branding {
  max-width: 154px;
  display: block;
  padding: 21px 0;
  margin-left: 15px;

  @media (max-width: 991px){
    width: 120px;
    padding: 15px 0;
    margin-left: 0;
  }

  img {

    display: none;

    .open-menu &.color {
      display: block;
    }

    body:not(.open-menu) &.white{
      display: block;
    }

  }
}