.site-header {
  position: absolute;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  z-index: 999;
  transition: 0.3s;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;

  @media (max-width: 991px){
    height: 60px;

    body:not(.home) & {
      position: fixed !important;
      opacity: 1 !important;
      background: #0c74d7;
      z-index: 9999;
    }
  }

  &.is-sticky {
    position: fixed;
    opacity: 0;

    body.scrollup & {
      opacity: 1;
      background: #0c74d7 !important;
    }
  }

  .fp-viewing-about-company &,
  .fp-viewing-product-details &,  
  .fp-viewing-our-news &,
  .fp-viewing-contact & {
    background: #0c74d7;
  }

  .fp-viewing-our-project & {
    background: rgba(12, 116, 215, 0.3);
  }

  .container-fluid {
    position: relative;
    z-index: 2;
  }

  .amano-japanese {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #fff;
    // font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    padding: 34px 20px 32px 0;

    @media (max-width: 991px){
      padding: 23px 15px 23px 0;
    }

    @media (max-width: 575px){
      font-size: 10px;
      text-transform: lowercase;
      letter-spacing: 4px;
      line-height: 0.7;

      strong {
        letter-spacing: 3px;
        display: block;
        text-transform: uppercase;
      }
    }

    @media (max-width: 400px){
      display: none;
    }

    p {
      margin: 0;
    }

    small {
    }

    svg {
      height: 16px;
      width: 16px;
      display: inline-block;
      margin-right: 5px;
      margin-top: 0;
    }
  }
}
