.language-switcher {

  padding-right: 25px;

  @media (max-width: 991px){
    padding-right: 15px;
  }

  @media (max-width: 400px){
    display: flex;
    margin-left: auto;
  }

  a {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    padding: 34px 5px 32px;

    @media (max-width: 991px){
      padding: 23px 5px;
    }

    .open-menu & {
      color: #606060;
    }

    &.is-active {
      font-weight: 700;
      cursor: default;
      pointer-events: none;
    }
  }
}