.site-navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 150px 0 0;
  visibility: hidden;

  .open-menu & {
    visibility: visible;
  }

  ul {
    position: relative;
    padding: 0 0 0;
    margin: 0;
    list-style: none;
    z-index: 2;

    li {
      
      h3 {
        font-size: 18px;
        margin: 0 0 30px;
      }

      a {
        font-size: 16px;
        color: #555;
        display: block;
        padding: 7px 0;
      }
    }
  }

  ul > li {
    &.is-active,
    &:hover {
      > a {
        color: $primary-color;
      }
    }
  }
  
  @media (min-width: 992px){
    .menu-main {
      > li {
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
        transform: translateY(50%);
        transition-delay: 0.3s;
  
        &:nth-child(2) {
          transition-delay: 0.2s; 
        }
  
        &:nth-child(3) {
          transition-delay: 0.1s; 
        }
  
        &:nth-child(4) {
          transition-delay: 0s; 
        }
  
        .open-menu & {
          opacity: 1;
          transform: translateY(0%);
          transition: transform 0.6s, opacity 0.6s, visibility 0.6s;
          transition-delay: 0.4s;
  
          &:nth-child(2) {
            transition-delay: 0.5s; 
          }
    
          &:nth-child(3) {
            transition-delay: 0.6s; 
          }
    
          &:nth-child(4) {
            transition-delay: 0.7s; 
          }
  
        }
      }
      
    }
  
    &:after {
      position: absolute;
      width: 0%;
      height: 1px;
      top: 80px;
      background: #f1f1f1;
      content: '';
      transition: width 0s;
      transition-delay: 0s;
  
      @media (max-width: 991px) { 
        top: 60px;
      }
      
      .open-menu & {
        transition: width 0.8s;
        transition-delay: 0.7s;
        width: 100%;
      }
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    * {
      transition: all 0.5s ease;
      transition-delay: 0.5s;

      .open-menu & {
        transition-delay: 0s;
      }
    }

    span {
      width: 0%;
      height: 100%;
      position: absolute;
      top: 0;
      transform: skewX(0);
      background: #fff;

      .open-menu & {
        width: calc(25% + 2px);
        transform: skewX(45deg);

        @media (max-width: 767px){
          width: calc(50% + 2px);
        }
      }

      &:nth-child(1) {
        left: 0;

        &::before {
          width: 150%;
          height: 100%;
          background: #fff;
          position: absolute;
          left: -149%;
          top: 0;
          content: "";
        }
        
        .open-menu & {
          @media (max-width: 767px){
            left: -50%;
          }
        }
      }

      &:nth-child(2) {
        left: 25%;

        .open-menu & {
          @media (max-width: 767px){
            left: 0;
          }
        }
      }

      &:nth-child(3) {
        left: 50%;
      }

      &:nth-child(4) {
        left: 75%;

        .open-menu & {
          @media (max-width: 767px){
            left: 100%;
          }
        }

        &::before {
          width: 150%;
          height: 100%;
          background: #fff;
          position: absolute;
          right: -149%;
          top: 0;
          content: "";
        }
      }
    }
  }

  @media (max-width: 991px){
    .menu-main-mobile {
      text-align: center;
  
      li {
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
        transform: translateX(50%);
        transition-delay: 0.5s;
  
        &:nth-child(even) {
          transform: translateX(-50%);
        }
  
        &:nth-child(2) {
          transition-delay: 0.4s; 
        }
  
        &:nth-child(3) {
          transition-delay: 0.3s; 
        }
  
        &:nth-child(4) {
          transition-delay: 0.2s; 
        }
  
        &:nth-child(5) {
          transition-delay: 0.1s; 
        }
  
        &:nth-child(6) {
          transition-delay: 0s; 
        }
  
        .open-menu & {
          opacity: 1;
          transform: translateY(0%);
          transition: transform 0.6s, opacity 0.6s, visibility 0.6s;
          transition-delay: 0.4s;
  
          &:nth-child(2) {
            transition-delay: 0.5s; 
          }
    
          &:nth-child(3) {
            transition-delay: 0.6s; 
          }
    
          &:nth-child(4) {
            transition-delay: 0.7s; 
          }
  
          &:nth-child(5) {
            transition-delay: 0.8s; 
          }
  
          &:nth-child(6) {
            transition-delay: 0.9s; 
          }
        }
  
        a {
          font-weight: 500;
          text-transform: uppercase;
          font-size: 16px;
          padding: 12px 0;
        }
  
        &.is-active {
          a {
            font-weight: 700;
          }
        }
      }
    }
  }
}
