.page {
  &-header {
    height: 200px;
    text-align: center;
    padding: 40px 0 0;
    background-size: cover;
  }

  &-title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    padding-top: 20px;

    small {
      font-weight: 200;
      font-size: 16px;
      letter-spacing: 2px;
      display: block;
    }
  }
}

@media (max-width: 991px) {
  .page {
    &-header {
      padding-top: 20px;
      height: auto;
      background: transparent !important;
    }
  
    &-title {
      font-size: 28px;
      color: $primary-color;
      padding-top: 10px;
  
      small {
        font-size: 12px;
      }
    }
  }
}