.about {
  color: #000;
  
  .fp-tableCell {
    padding-top: 50px;

    @media (max-width: 1439px){
      padding-top: 70px;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 24px;
    color: $primary-color;
    text-align: center;
    margin-bottom: 45px;

    @media (max-height: 800px){
      margin-bottom: 30px;
    }
  }

  &__description {
    max-width: 850px;
    margin: 0 auto 80px;

    @media (max-width: 1639px){
      margin-bottom: 50px;
      max-width: 1110px;
    }

    p {
      margin-bottom: 30px;
      text-indent: 30px;

      @media (max-height: 800px){
        margin-bottom: 15px;
      }
    }
  }

  &__feature {

    body.home & {
      max-width: 700px;
      margin: 0 auto;
    }

    .about-swiper-container {
      overflow: visible !important;
    }
    
    &-item {
      position: relative;
      opacity: 0;
      transition: opacity 0.6s;
      // transform: scale(0);

      img {
        border-radius: 100%;
      }
      
      // &:nth-child(odd) {
      //   transform: translateY(-20%);
      // }
      
      &:nth-child(1) {
        transition-delay: 0.1s;
      }

      &:nth-child(2) {
        transition-delay: 0.2s;
      }

      &:nth-child(3) {
        transition-delay: 0.3s;
      }

      &:nth-child(4) {
        transition-delay: 0.4s;
      }

      &:nth-child(5) {
        transition-delay: 0.5s;
      }

      &:nth-child(6) {
        transition-delay: 0.6s;
      }
    }

    &-image {
      position: relative;
    }

    &-title {
      position: absolute;
      top: 30px;
      bottom: 30px;
      left: 30px;
      right: 30px;
      text-align: center;
      color: #fff;
      // background: rgba(255, 255, 255, 0.85);
      border-radius: 100%;
      margin: 0;
      transition: 0.2s;
    }

    &-item:hover {
      .about__feature-title {
        color: #fff;
        background: #0c74d7;
      }
    }
    
    &-description {
      font-size: 14px;
      color: $primary-color;
      font-weight: bold;
      text-align: center;
      padding: 15px 5px;
      margin: 0;

      @media (min-width: 992px){
        padding: 15px 0 0;
      }
    }
  }

  &.loaded {

    .about__feature {

      &[data-page="1"] {
        .about__feature-item {
          &.item {
            &-1,
            &-2,
            &-3 {
              opacity: 1;
            }
          }
        }
      }

      &[data-page="2"] {
        .about__feature-item {
          &.item {
            &-4,
            &-5,
            &-6 {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}