.home {
  &-fullpage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  
    body.loaded & {
      opacity: 1;
    }

  }

  .section {
    position: relative;
    background-size: cover;
  }
}

#fp-nav ul li  {
  a {
    span {
      background: #fff;
      transition: background 0.3s;

      .fp-viewing-our-news &,
      .fp-viewing-about-company &, 
      .fp-viewing-contact & {
        background: #000;
      }
    }
  }
  
  .fp-tooltip {
    font-family: $prompt;
    .fp-viewing-our-news &,
    .fp-viewing-about-company &,
    .fp-viewing-contact & {
      color: #000;
    }
  }
}