.our-news {

  .fp-tableCell {
    padding-top: 60px;
  }

  .swiper-container {
    overflow: visible !important;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 3px;
    color: $primary-color;
    margin-bottom: 90px;

    @media (max-height: 800px){
      margin-bottom: 40px;
    }

    strong {
      font-weight: 700;
    }
  }

  &__see-more {
    font-size: 12px;
    text-transform: uppercase;
    color: #7a7a7a;
    line-height: 1;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    border-radius: 30px;
    margin-top: 50px;

    @media (max-height: 800px){
      margin-top: 10px;
    }
  }

  .news-col {
    height: auto;
    opacity: 0;
    transform: translateY(40%);
    transition: opacity 0.4s, transform 0.5s;
    transition-delay: 0.1s;

    &:nth-child(2) {
      transition-delay: 0.3s;
    }

    &:nth-child(3) {
      transition-delay: 0.5s;
    }
  }

  &.loaded {
    .news-col {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}