.our-project {
  .fp-tableCell {
    padding-top: 40px;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 3px;
    color: #fff;
    margin-bottom: 90px;

    strong {
      font-weight: 700;
    }
  }

  img {
    opacity: 0;
    transition: opacity 0.4s;
  }

  &.loaded {
    img {
      opacity: 1;
    }
  }

  .swiper-slide:nth-child(7) img {
    transition-delay: 0.1s;
  }

  .swiper-slide:nth-child(6) img {
    transition-delay: 0.2s;
  }

  .swiper-slide:nth-child(3) img {
    transition-delay: 0.3s;
  }
  
  .swiper-slide:nth-child(4) img {
    transition-delay: 0.4s;
  }

  .swiper-slide:nth-child(8) img {
    transition-delay: 0.5s;
  }
  
  .swiper-slide:nth-child(2) img {
    transition-delay: 0.6s;
  }

  .swiper-slide:nth-child(1) img {
    transition-delay: 0.7s;
  }

  .swiper-slide:nth-child(5) img {
    transition-delay: 0.8s;
  }

  button {
    position: relative;
    height: auto;
    border: none;
    background: none;
    padding: 7px 12px;
    margin: 30px -5px 0;
    border-radius: 3px;
    overflow: hidden;
    outline: none !important;

    &::before {
      border-top: solid 5px transparent;
      border-bottom: solid 5px transparent;
      display: inline-block;
      vertical-align: middle;
      content: '';
    }

    &.button-prev {
      text-align: right;

      &::before {
        border-right: solid 8px #fff;
      }
    }

    &.button-next {
      text-align: left;

      &::before {
        border-left: solid 8px #fff;
      }
    }

    &.swiper-button-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

}