.welcome {
  position: relative;
  height: 100%;

  .swiper-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .swiper-slide {
      height: 100%;
      background-size: cover;
      background-position: bottom;
    }
  }

  h1 {
    position: relative;
    color: #fff;
    line-height: 1;
    text-align: center;
    font-size: 38px;
    z-index: 20;
    
    small,
    strong {
      display: block;
      opacity: 0;
      transition: transform 1.2s cubic-bezier(0, 1, .5, 1), opacity 0.4s;
      transform: translateY(100px);
      transition-delay: 0.9s;

      body.loaded & {
        opacity: 1;
        transform: translateY(0);
      }
    }

    small {
      font-size: 24px;
      font-weight: 200;
      padding-bottom: 15px;
      opacity: 0;
      transition-delay: 0.7s;
    }
  
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: 18;
  }

  &::after {
    bottom: 0;
    background: rgba(12, 116, 215, 0.62);
  }

  &::before {
    height: 180px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.94) 0%, rgba(0, 53, 104, 0) 100%);
  }

  &__navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 19;

    &::before {
      position: absolute;
      height: 1px;
      width: 0;
      top: 0;
      left: 0;
      transition: width 1s;
      transition-delay: 1s;
      background: rgba(255, 255, 255, 0.43);
      content: '';

      body.loaded & {
        width: 100%;
      }

    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      @media (max-width: 991px){
        // display: none !important;
      }
      
      li {
        display: inline-block;
        opacity: 0;
        // transform: translateY(100%);
        transition: .6s cubic-bezier(0, 1, .5, 1), opacity 0.4s;
        transition-delay: 1.8s;

        body.loaded & {
          opacity: 1;
          // transform: translateY(0%);
        }
        
        &:nth-child(2) {
          transition-delay: 1.9s;
        }

        &:nth-child(3) {
          transition-delay: 2.0s;
        }

        &:nth-child(4) {
          transition-delay: 2.1s;
        }

        &:nth-child(5) {
          transition-delay: 2.2s;
        }

        &:nth-child(6) {
          transition-delay: 2.3s;
        }

        a {
          position: relative;
          color: #fff;
          font-weight: 300;
          font-size: 18px;
          line-height: 1;
          display: block;
          padding: 50px 0;

          @media (max-width: 1199px){
            padding: 35px 0;
          }

          &::before {
            position: absolute;
            top: -1px;
            left: 0;
            width: 42px;
            height: 1px;
            background: #fff;
            content: '';
            transition: width 0.3s;
          }
  
          &:hover {
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &__scroll-icon {
    position: absolute;
    right: 30px;
    bottom: 42px;
    transition: opacity 0.2s;
    z-index: 99;

    @media (max-width: 1199px){
      bottom: 30px;
    }

    @media (max-width: 991px){
      right: 50%;
      bottom: 30px;
    }

    div {
      position: relative;
      width: 22px;
      height: 32px;
      border: solid 2px #fff;
      border-radius: 8px;
  
      &::before {
        position: absolute;
        left: 50%;
        width: 2px;
        height: 5px;
        display: block;
        margin: 5px 0 0 -1px;
        background: #fff;
        border-radius: 2px;
        animation: scroll 1s infinite;
        content: '';
      }
    }
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}